USE [master]
GO
/****** Object:  Database [LabB3_QLSieuThi_19127102]    Script Date: 14-Jun-21 18:14:06 ******/
CREATE DATABASE [LabB3_QLSieuThi_19127102]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabB3_QLSieuThi_19127102', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\LabB3-QLSThi-19clc9-19127102-21\LabB3_QLSieuThi_19127102.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabB3_QLSieuThi_19127102_log', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\LabB3-QLSThi-19clc9-19127102-21\LabB3_QLSieuThi_19127102_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabB3_QLSieuThi_19127102].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabB3_QLSieuThi_19127102]
GO
/****** Object:  Table [dbo].[CT_HOA_DON]    Script Date: 14-Jun-21 18:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOA_DON](
	[mahd] [char](10) NOT NULL,
	[masp] [char](10) NOT NULL,
	[soluong] [smallint] NULL,
	[dongia] [bigint] NULL,
 CONSTRAINT [PK_CT_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC,
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 14-Jun-21 18:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[mahd] [char](10) NOT NULL,
	[ngaylap] [date] NULL,
	[makh] [char](10) NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 14-Jun-21 18:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[makh] [char](10) NOT NULL,
	[hoten] [nvarchar](100) NOT NULL,
	[gioitinh] [char](1) NULL,
	[dthoai] [varchar](10) NULL,
	[diachi] [nvarchar](200) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 14-Jun-21 18:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[masp] [char](10) NOT NULL,
	[tensp] [nvarchar](100) NOT NULL,
	[ngaysx] [date] NULL,
	[dongia] [bigint] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (N'1000000001', N'1234567891', 1, 5690000)
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (N'1000000001', N'1234567892', 1, 22990000)
INSERT [dbo].[CT_HOA_DON] ([mahd], [masp], [soluong], [dongia]) VALUES (N'1000000001', N'1234567893', 1, 4490000)
INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (N'1000000001', CAST(N'2021-06-13' AS Date), N'0000000001')
INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (N'1000000002', CAST(N'2021-06-13' AS Date), N'0000000002')
INSERT [dbo].[HOA_DON] ([mahd], [ngaylap], [makh]) VALUES (N'1000000003', CAST(N'2021-06-13' AS Date), N'0000000003')
INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (N'0000000001', N'2B', N'F', NULL, NULL)
INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (N'0000000002', N'A2', N'F', NULL, NULL)
INSERT [dbo].[KHACH_HANG] ([makh], [hoten], [gioitinh], [dthoai], [diachi]) VALUES (N'0000000003', N'9S', N'M', NULL, NULL)
INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (N'1234567891', N'GIGABYTE X570 AORUS ELITE (AMD Socket AM4)', CAST(N'2021-06-13' AS Date), 5690000)
INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (N'1234567892', N'AMD Ryzen 9 5950X / 64MD / 3.4GHz Boost 4.9GHz / 16 nhân 32 luồng', CAST(N'2021-06-13' AS Date), 22990000)
INSERT [dbo].[SAN_PHAM] ([masp], [tensp], [ngaysx], [dongia]) VALUES (N'1234567893', N'G.SKILL Trident Z Royal RGB GOLD CL16-18-18-38 (16G DDR4 2x8G 3200) ', CAST(N'2021-06-13' AS Date), 4490000)
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HOA_DON] FOREIGN KEY([mahd])
REFERENCES [dbo].[HOA_DON] ([mahd])
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_SAN_PHAM] FOREIGN KEY([masp])
REFERENCES [dbo].[SAN_PHAM] ([masp])
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([makh])
REFERENCES [dbo].[KHACH_HANG] ([makh])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOA_DON] CHECK  (([dongia]>=(0)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_CT_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOA_DON_1] CHECK  (([soluong]>=(1)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_CT_HOA_DON_1]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HOA_DON] CHECK  (([ngaylap]<getdate()))
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [CK_HOA_DON]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACH_HANG] CHECK  (([gioitinh]='F' OR [gioitinh]='M'))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [CK_KHACH_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACH_HANG_1] CHECK  (([hoten]<>NULL))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [CK_KHACH_HANG_1]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_SAN_PHAM] CHECK  (([dongia]>=(0)))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_SAN_PHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_SAN_PHAM_1] CHECK  (([ngaysx]<getdate()))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_SAN_PHAM_1]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [CK_SAN_PHAM_2] CHECK  (([tensp]<>NULL))
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [CK_SAN_PHAM_2]
GO
USE [master]
GO
