/****** Object:  Database [QLBongDa]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE DATABASE [QLBongDa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBongDa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBongDa.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBongDa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBongDa_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBongDa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBongDa]
GO
/****** Object:  User [BDU04]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDU04] FOR LOGIN [BDU04] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDU03]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDU03] FOR LOGIN [BDU03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDU02]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDU02] FOR LOGIN [BDU02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDU01]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDU01] FOR LOGIN [BDU01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDRead]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDRead] FOR LOGIN [BDRead] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDProfile]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDProfile] FOR LOGIN [BDProfile] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDBK]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDBK] FOR LOGIN [BDBK] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDAdmin]    Script Date: 22-Mar-22 20:36:23 ******/
CREATE USER [BDAdmin] FOR LOGIN [BDAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BDRead]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [BDProfile]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [BDBK]
GO
ALTER ROLE [db_owner] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [BDAdmin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [BDAdmin]
GO
/****** Object:  Table [dbo].[BANGXH]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGXH](
	[MACLB] [varchar](5) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[SOTRAN] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[HOA] [int] NOT NULL,
	[THUA] [int] NOT NULL,
	[HIEUSO] [varchar](5) NOT NULL,
	[DIEM] [int] NOT NULL,
	[HANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC,
	[NAM] ASC,
	[VONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CAULACBO]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAULACBO](
	[MACLB] [varchar](5) NOT NULL,
	[TENCLB] [nvarchar](100) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[MATINH] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CAUTHU]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAUTHU](
	[MACT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[VITRI] [nvarchar](20) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MACLB] [varchar](5) NOT NULL,
	[MAQG] [varchar](5) NOT NULL,
	[SO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HLV_CLB]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HLV_CLB](
	[MAHLV] [varchar](5) NOT NULL,
	[MACLB] [varchar](5) NOT NULL,
	[VAITRO] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC,
	[MACLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HUANLUYENVIEN]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HUANLUYENVIEN](
	[MAHLV] [varchar](5) NOT NULL,
	[TENHLV] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[MAQG] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[MAQG] [varchar](5) NOT NULL,
	[TENQG] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANVD]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANVD](
	[MASAN] [varchar](5) NOT NULL,
	[TENSAN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINH](
	[MATINH] [varchar](5) NOT NULL,
	[TENTINH] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANDAU]    Script Date: 22-Mar-22 20:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANDAU](
	[MATRAN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAM] [int] NOT NULL,
	[VONG] [int] NOT NULL,
	[NGAYTD] [datetime] NOT NULL,
	[MACLB1] [varchar](5) NOT NULL,
	[MACLB2] [varchar](5) NOT NULL,
	[MASAN] [varchar](5) NOT NULL,
	[KETQUA] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 1, 1, 1, 0, 0, N'3-0', 3, 1)
INSERT [dbo].[BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 2, 2, 1, 0, 1, N'3-5', 3, 2)
INSERT [dbo].[BANGXH] ([MACLB], [NAM], [VONG], [SOTRAN], [THANG], [HOA], [THUA], [HIEUSO], [DIEM], [HANG]) VALUES (N'BBD', 2009, 3, 3, 2, 0, 1, N'4-5', 6, 1)
INSERT [dbo].[CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'BBD', N'BECAMEX BÌNH DƯƠNG', N'GD', N'BD')
INSERT [dbo].[CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'GDT', N'GẠCH ĐỒNG TÂM LONG AN', N'LA', N'LA')
INSERT [dbo].[CAULACBO] ([MACLB], [TENCLB], [MASAN], [MATINH]) VALUES (N'HAGL', N'HOÀNG ANH GIA LAI', N'PL', N'GL')
SET IDENTITY_INSERT [dbo].[CAUTHU] ON 

INSERT [dbo].[CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(32 AS Numeric(18, 0)), N'Nguyễn Vũ Phong', N'Tiền vệ', CAST(N'1990-02-20 00:00:00.000' AS DateTime), NULL, N'BBD', N'VN', 17)
INSERT [dbo].[CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(33 AS Numeric(18, 0)), N'Nguyễn Công Vinh', N'Tiền đạo', CAST(N'1992-03-10 00:00:00.000' AS DateTime), NULL, N'HAGL', N'VN', 9)
INSERT [dbo].[CAUTHU] ([MACT], [HOTEN], [VITRI], [NGAYSINH], [DIACHI], [MACLB], [MAQG], [SO]) VALUES (CAST(34 AS Numeric(18, 0)), N'Trần Tấn Tài', N'Tiền vệ', CAST(N'1989-11-12 00:00:00.000' AS DateTime), NULL, N'BBD', N'VN', 8)
SET IDENTITY_INSERT [dbo].[CAUTHU] OFF
INSERT [dbo].[HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV01', N'BBD', N'HLV Chính')
INSERT [dbo].[HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV02', N'SDN', N'HLV Chính')
INSERT [dbo].[HLV_CLB] ([MAHLV], [MACLB], [VAITRO]) VALUES (N'HLV03', N'HAGL', N'HLV Chính')
INSERT [dbo].[HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV01', N'Vital', CAST(N'1955-10-15 00:00:00.000' AS DateTime), NULL, N'0918011075', N'BDN')
INSERT [dbo].[HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV02', N'Lê Huỳnh Đức', CAST(N'1972-05-20 00:00:00.000' AS DateTime), NULL, N'01223456789', N'VN')
INSERT [dbo].[HUANLUYENVIEN] ([MAHLV], [TENHLV], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAQG]) VALUES (N'HLV03', N'Kiatisuk', CAST(N'1970-12-11 00:00:00.000' AS DateTime), NULL, N'01990123456', N'THA')
INSERT [dbo].[QUOCGIA] ([MAQG], [TENQG]) VALUES (N'ANH', N'Anh Quốc')
INSERT [dbo].[QUOCGIA] ([MAQG], [TENQG]) VALUES (N'BDN', N'Bồ Đào Nha')
INSERT [dbo].[QUOCGIA] ([MAQG], [TENQG]) VALUES (N'BRA', N'Brazil')
INSERT [dbo].[SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'CL', N'Chi Lăng', N'127 Võ Văn Tần, Đà Nẵng')
INSERT [dbo].[SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'GD', N'Gò Đậu', N'123 QL1, TX Thủ Dầu Một, Bình Dương')
INSERT [dbo].[SANVD] ([MASAN], [TENSAN], [DIACHI]) VALUES (N'LA', N'Long An', N'102 Hùng Vương, Tp Tân An, Long An')
INSERT [dbo].[TINH] ([MATINH], [TENTINH]) VALUES (N'BD', N'Bình Dương')
INSERT [dbo].[TINH] ([MATINH], [TENTINH]) VALUES (N'DN', N'Đà Nẵng')
INSERT [dbo].[TINH] ([MATINH], [TENTINH]) VALUES (N'GL', N'Gia Lai')
SET IDENTITY_INSERT [dbo].[TRANDAU] ON 

INSERT [dbo].[TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(1 AS Numeric(18, 0)), 2009, 1, CAST(N'2009-02-07 00:00:00.000' AS DateTime), N'BBD', N'SDN', N'GD', N'3-0')
INSERT [dbo].[TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(2 AS Numeric(18, 0)), 2009, 1, CAST(N'2009-02-07 00:00:00.000' AS DateTime), N'KKH', N'GDT', N'NT', N'1-1')
INSERT [dbo].[TRANDAU] ([MATRAN], [NAM], [VONG], [NGAYTD], [MACLB1], [MACLB2], [MASAN], [KETQUA]) VALUES (CAST(3 AS Numeric(18, 0)), 2009, 2, CAST(N'2009-02-16 00:00:00.000' AS DateTime), N'SDN', N'KKH', N'CL', N'2-2')
SET IDENTITY_INSERT [dbo].[TRANDAU] OFF
ALTER TABLE [dbo].[BANGXH]  WITH CHECK ADD  CONSTRAINT [FK_BANGXH_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[BANGXH] CHECK CONSTRAINT [FK_BANGXH_CAULACBO]
GO
ALTER TABLE [dbo].[CAULACBO]  WITH CHECK ADD  CONSTRAINT [FK_CAULACBO_SANVD] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANVD] ([MASAN])
GO
ALTER TABLE [dbo].[CAULACBO] CHECK CONSTRAINT [FK_CAULACBO_SANVD]
GO
ALTER TABLE [dbo].[CAULACBO]  WITH CHECK ADD  CONSTRAINT [FK_CAULACBO_TINH] FOREIGN KEY([MATINH])
REFERENCES [dbo].[TINH] ([MATINH])
GO
ALTER TABLE [dbo].[CAULACBO] CHECK CONSTRAINT [FK_CAULACBO_TINH]
GO
ALTER TABLE [dbo].[CAUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CAUTHU_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[CAUTHU] CHECK CONSTRAINT [FK_CAUTHU_CAULACBO]
GO
ALTER TABLE [dbo].[HLV_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HLV_CLB_CAULACBO] FOREIGN KEY([MACLB])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[HLV_CLB] CHECK CONSTRAINT [FK_HLV_CLB_CAULACBO]
GO
ALTER TABLE [dbo].[HLV_CLB]  WITH CHECK ADD  CONSTRAINT [FK_HLV_CLB_HUANLUYENVIEN] FOREIGN KEY([MAHLV])
REFERENCES [dbo].[HUANLUYENVIEN] ([MAHLV])
GO
ALTER TABLE [dbo].[HLV_CLB] CHECK CONSTRAINT [FK_HLV_CLB_HUANLUYENVIEN]
GO
ALTER TABLE [dbo].[HUANLUYENVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HUANLUYENVIEN_QUOCGIA] FOREIGN KEY([MAQG])
REFERENCES [dbo].[QUOCGIA] ([MAQG])
GO
ALTER TABLE [dbo].[HUANLUYENVIEN] CHECK CONSTRAINT [FK_HUANLUYENVIEN_QUOCGIA]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_CAULACBO] FOREIGN KEY([MACLB1])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_CAULACBO]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_CAULACBO1] FOREIGN KEY([MACLB2])
REFERENCES [dbo].[CAULACBO] ([MACLB])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_CAULACBO1]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_SANVD] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANVD] ([MASAN])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_SANVD]
GO
USE [master]
GO
