USE [master]
GO
/****** Object:  Database [LabB4_Adv_QLHV_19127102]    Script Date: 14-Jun-21 21:15:53 ******/
CREATE DATABASE [LabB4_Adv_QLHV_19127102]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabB4_Adv_QLHV_19127102', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\LabB4-QLHV-19clc9-19127102-21\LabB4_Adv_QLHV_19127102.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabB4_Adv_QLHV_19127102_log', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\LabB4-QLHV-19clc9-19127102-21\LabB4_Adv_QLHV_19127102_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabB4_Adv_QLHV_19127102].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabB4_Adv_QLHV_19127102]
GO
/****** Object:  Table [dbo].[NganhDT]    Script Date: 14-Jun-21 21:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NganhDT](
	[MaNganh] [varchar](11) NOT NULL,
	[TenNganh] [nvarchar](100) NULL,
	[ChiTieu_THPT] [smallint] NULL,
	[ChiTieu_Khac] [smallint] NULL,
	[BacDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NganhDT] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 14-Jun-21 21:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](8) NOT NULL,
	[HoTenSV] [nvarchar](100) NULL,
	[NgSinh] [date] NULL,
	[GioiTinh] [char](1) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaNganhDT] [varchar](11) NULL,
	[DTB] [float] NULL CONSTRAINT [DF_SinhVien_DTB]  DEFAULT ((0)),
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SVDaiHoc]    Script Date: 14-Jun-21 21:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SVDaiHoc](
	[MSSV] [varchar](8) NOT NULL,
	[ThuocLop] [varchar](7) NULL,
	[TinhTrang] [char](1) NULL,
 CONSTRAINT [PK_SVDaiHoc] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SVSauDH]    Script Date: 14-Jun-21 21:15:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SVSauDH](
	[MSSV] [varchar](8) NOT NULL,
	[TinhTrang] [char](1) NULL,
	[LienKetSV] [varchar](8) NULL,
	[LienKetTTThSi] [varchar](8) NULL,
 CONSTRAINT [PK_SVSauDH] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NganhDT] ([MaNganh], [TenNganh], [ChiTieu_THPT], [ChiTieu_Khac], [BacDT]) VALUES (N'7480101_TT', N'Khoa học máy tính (CT Tiên tiến)', 28, 52, N'ĐH')
INSERT [dbo].[NganhDT] ([MaNganh], [TenNganh], [ChiTieu_THPT], [ChiTieu_Khac], [BacDT]) VALUES (N'7480201_CLC', N'Công nghệ thông tin (CT Chất lượng cao)', 154, 286, N'ĐH')
INSERT [dbo].[NganhDT] ([MaNganh], [TenNganh], [ChiTieu_THPT], [ChiTieu_Khac], [BacDT]) VALUES (N'7480201_NN', N'Nhóm ngành máy tính và Công nghệ thông tin', 140, 260, N'ĐH')
INSERT [dbo].[SinhVien] ([MSSV], [HoTenSV], [NgSinh], [GioiTinh], [DiaChi], [MaNganhDT], [DTB]) VALUES (N'03411026', N'Trần Thị Bích Hạnh', CAST(N'1983-03-03' AS Date), N'F', N'1 Lê Lai, Q1, HCM', N'8480201', 8.9)
INSERT [dbo].[SinhVien] ([MSSV], [HoTenSV], [NgSinh], [GioiTinh], [DiaChi], [MaNganhDT], [DTB]) VALUES (N'13411026', N'Trần Minh Triết', CAST(N'1978-01-08' AS Date), N'M', N'62 Bùi Viện, Q1, HCM', N'8480201', 9.8)
INSERT [dbo].[SinhVien] ([MSSV], [HoTenSV], [NgSinh], [GioiTinh], [DiaChi], [MaNganhDT], [DTB]) VALUES (N'15125001', N'Niu Phan Sơn', CAST(N'2002-01-01' AS Date), N'M', N'78 Bacthyeti, Thái Lan', N'7480201_CLC', 3.2)
INSERT [dbo].[SVDaiHoc] ([MSSV], [ThuocLop], [TinhTrang]) VALUES (N'15125001', N'15CLC1', N'F')
INSERT [dbo].[SVDaiHoc] ([MSSV], [ThuocLop], [TinhTrang]) VALUES (N'19125033', N'19CLC3', N'D')
INSERT [dbo].[SVDaiHoc] ([MSSV], [ThuocLop], [TinhTrang]) VALUES (N'19125040', N'19CLC3', N'D')
INSERT [dbo].[SVSauDH] ([MSSV], [TinhTrang], [LienKetSV], [LienKetTTThSi]) VALUES (N'03411026', N'T', N'9912008', NULL)
INSERT [dbo].[SVSauDH] ([MSSV], [TinhTrang], [LienKetSV], [LienKetTTThSi]) VALUES (N'13411026', N'T', N'9812024', NULL)
INSERT [dbo].[SVSauDH] ([MSSV], [TinhTrang], [LienKetSV], [LienKetTTThSi]) VALUES (N'16711020', N'T', N'9812024', N'13411026')
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_NganhDT] FOREIGN KEY([MaNganhDT])
REFERENCES [dbo].[NganhDT] ([MaNganh])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_NganhDT]
GO
ALTER TABLE [dbo].[SVDaiHoc]  WITH CHECK ADD  CONSTRAINT [FK_SVDaiHoc_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[SVDaiHoc] CHECK CONSTRAINT [FK_SVDaiHoc_SinhVien]
GO
ALTER TABLE [dbo].[SVSauDH]  WITH CHECK ADD  CONSTRAINT [FK_SVSauDH_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[SVSauDH] CHECK CONSTRAINT [FK_SVSauDH_SinhVien]
GO
ALTER TABLE [dbo].[SVSauDH]  WITH CHECK ADD  CONSTRAINT [FK_SVSauDH_SVDaiHoc] FOREIGN KEY([LienKetSV])
REFERENCES [dbo].[SVDaiHoc] ([MSSV])
GO
ALTER TABLE [dbo].[SVSauDH] CHECK CONSTRAINT [FK_SVSauDH_SVDaiHoc]
GO
ALTER TABLE [dbo].[SVSauDH]  WITH CHECK ADD  CONSTRAINT [FK_SVSauDH_SVSauDH1] FOREIGN KEY([LienKetTTThSi])
REFERENCES [dbo].[SVSauDH] ([MSSV])
GO
ALTER TABLE [dbo].[SVSauDH] CHECK CONSTRAINT [FK_SVSauDH_SVSauDH1]
GO
ALTER TABLE [dbo].[NganhDT]  WITH CHECK ADD  CONSTRAINT [CK_NganhDT] CHECK  (([BacDT]='TS' OR [BacDT]='ThS' OR [BacDT]=N'ĐH'))
GO
ALTER TABLE [dbo].[NganhDT] CHECK CONSTRAINT [CK_NganhDT]
GO
ALTER TABLE [dbo].[NganhDT]  WITH CHECK ADD  CONSTRAINT [CK_NganhDT_1] CHECK  (((0)<=[ChiTieu_THPT] AND [ChiTieu_THPT]<=[ChiTieu_Khac] AND (0)<=[ChiTieu_Khac]))
GO
ALTER TABLE [dbo].[NganhDT] CHECK CONSTRAINT [CK_NganhDT_1]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien] CHECK  (([DTB]>=(0)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_1] CHECK  (([GioiTinh]='M' OR [GioiTinh]='F'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_1]
GO
ALTER TABLE [dbo].[SVDaiHoc]  WITH CHECK ADD  CONSTRAINT [CK_SVDaiHoc] CHECK  (([TinhTrang]='F' OR [TinhTrang]='H' OR [TinhTrang]='T' OR [TinhTrang]='D'))
GO
ALTER TABLE [dbo].[SVDaiHoc] CHECK CONSTRAINT [CK_SVDaiHoc]
GO
ALTER TABLE [dbo].[SVSauDH]  WITH CHECK ADD  CONSTRAINT [CK_SVSauDH] CHECK  (([TinhTrang]='F' OR [TinhTrang]='H' OR [TinhTrang]='T' OR [TinhTrang]='D'))
GO
ALTER TABLE [dbo].[SVSauDH] CHECK CONSTRAINT [CK_SVSauDH]
GO
USE [master]
GO
