USE [master]
GO
/****** Object:  Database [Test1_KPI_19127102]    Script Date: 17-Jun-21 08:03:13 ******/
CREATE DATABASE [Test1_KPI_19127102]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test1_KPI_19127102', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\KPI-room04-19127102-G\Test1_KPI_19127102.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test1_KPI_19127102_log', FILENAME = N'D:\ASUS\Documents\Homework\CSDL\KPI-room04-19127102-G\Test1_KPI_19127102_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test1_KPI_19127102].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test1_KPI_19127102]
GO
/****** Object:  Table [dbo].[AssignKPI]    Script Date: 17-Jun-21 08:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssignKPI](
	[AssignToEmp] [char](4) NOT NULL,
	[ParentKPI_id] [int] NOT NULL,
	[ParentKPI_Date] [datetime] NOT NULL,
	[KPIName] [nvarchar](50) NULL,
	[ShortDescription] [nvarchar](100) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Goal] [int] NULL,
	[result] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_AssignKPI] PRIMARY KEY CLUSTERED 
(
	[AssignToEmp] ASC,
	[ParentKPI_id] ASC,
	[ParentKPI_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 17-Jun-21 08:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptID] [char](4) NOT NULL,
	[DeptName] [nvarchar](50) NULL,
	[DeptManager] [char](4) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17-Jun-21 08:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [char](4) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[DepID] [char](4) NULL,
	[Birthday] [datetime] NULL,
	[Sex] [nvarchar](6) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KPI_Type]    Script Date: 17-Jun-21 08:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KPI_Type](
	[id] [int] NOT NULL,
	[name] [varchar](30) NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_KPI_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Target]    Script Date: 17-Jun-21 08:03:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Target](
	[id] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
	[KPI_Type] [int] NOT NULL,
	[DeptID] [char](4) NULL,
 CONSTRAINT [PK_Target] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_Birthday]  DEFAULT (getdate()) FOR [Birthday]
GO
ALTER TABLE [dbo].[Target] ADD  CONSTRAINT [DF_Target_Amount]  DEFAULT ((1000)) FOR [Amount]
GO
ALTER TABLE [dbo].[AssignKPI]  WITH CHECK ADD  CONSTRAINT [FK_AssignKPI_Employees] FOREIGN KEY([AssignToEmp])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[AssignKPI] CHECK CONSTRAINT [FK_AssignKPI_Employees]
GO
ALTER TABLE [dbo].[AssignKPI]  WITH CHECK ADD  CONSTRAINT [FK_AssignKPI_Target] FOREIGN KEY([ParentKPI_id], [ParentKPI_Date])
REFERENCES [dbo].[Target] ([id], [StartDate])
GO
ALTER TABLE [dbo].[AssignKPI] CHECK CONSTRAINT [FK_AssignKPI_Target]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Employees] FOREIGN KEY([DeptManager])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepID])
REFERENCES [dbo].[Departments] ([DeptID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Target]  WITH CHECK ADD  CONSTRAINT [FK_Target_Departments] FOREIGN KEY([DeptID])
REFERENCES [dbo].[Departments] ([DeptID])
GO
ALTER TABLE [dbo].[Target] CHECK CONSTRAINT [FK_Target_Departments]
GO
ALTER TABLE [dbo].[Target]  WITH CHECK ADD  CONSTRAINT [FK_Target_KPI_Type1] FOREIGN KEY([KPI_Type])
REFERENCES [dbo].[KPI_Type] ([id])
GO
ALTER TABLE [dbo].[Target] CHECK CONSTRAINT [FK_Target_KPI_Type1]
GO
ALTER TABLE [dbo].[AssignKPI]  WITH CHECK ADD  CONSTRAINT [CK_AssignKPI] CHECK  (([Status]='Failed' OR [Status]='Finished'))
GO
ALTER TABLE [dbo].[AssignKPI] CHECK CONSTRAINT [CK_AssignKPI]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees] CHECK  (([Sex]='Other' OR [Sex]='Female' OR [Sex]='Male'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees]
GO
USE [master]
GO
